<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" />
    <script th:src = "@{/bootstrap.min.js}"></script>
</head>
<body>
    <h1>Nguyen Van Hung</h1>
    <a th:href="/profile" class="btn btn_primary">Load profile</a>
</body>
</html>